<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @movie.movie %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Actore:</strong>
  <%= @movie.actore %>
</p>

<p>
  <strong>Filming location:</strong>
  <%= @movie.filming_location %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
